header{
    text-align: center;
    border: 2px solid black;
    background: lightblue;
}
li{
    display: inline;
    margin-right: 5em;
    margin-left: 4em;
}
nav{
    border: 3px solid black;
    background: lightblue;
    padding-top: 1em;
}
th{
    border:2px solid black;
}
td{
    border:2px solid black;
}

a{
    text-decoration: none;
    color: black;
}

table{
    margin-top:0.5em;
    background: lightblue;
}

body{
    background: black;
    width: 80%;

}

