{% extends 'base.html' %}

{% block principal %}

<h2>Listado Ejemplar</h2>

<table class="table table-dark">
    <tr>
        <th>Numero Ejemplar</th>
        <th>Fecha de compra</th>
        <th>Libro</th>
        <th>Editar</th>
        <th>Borrar</th>
    </tr>
    {% for ejemplar in object_list  %}
        <tr>
            <td><a href="{% url 'detalle_ejemplar' ejemplar.id %}">{{ ejemplar.numeroejemplar }}</a></td>
            <td>{{ ejemplar.fechadecompra }}</td>
            <td>{{ ejemplar.libro }}</td>
            <td><a href="{% url 'editar_ejemplar' ejemplar.id %}">Editar</a></td>
            <td><a href="{% url 'borrar_ejemplar' ejemplar.id %}">Eliminar</a></td>
        </tr>
    {% endfor %}

</table>

<p></p>
<a href="{% url 'nuevo_ejemplar' %}" class="nuevo">Nuevo Ejemplar</a>

{% endblock %}