{% extends 'base.html' %}

{% block principal %}

<h2>Listado Ejemplar</h2>

<table>
    <tr>
        <th>Numero Ejemplar</th>
        <th>Fecha de compra</th>
        <th>Libro</th>
        <th>Editar</th>
        <th>Borrar</th>
    </tr>
    {% for ejemplar in object_list  %}
        <tr>
            <td>{{ ejemplar.numeroejemplar }}</td>
            <td>{{ ejemplar.fechadecompra }}</td>
            <td>{{ ejemplar.libro }}</td>
            <td><a href="{% url 'editar_ejemplar' ejemplar.id %}">Editar</a></td>
            <td><a href="{% url 'borrar_ejemplar' ejemplar.id %}">Eliminar</a></td>
        </tr>
    {% endfor %}

</table>


<a href="{% url 'nuevo_ejemplar' %}">Nuevo Ejemplar</a>

{% endblock %}